body{
    background-color: black;
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto; /*Espaçamento Externo*/
    padding: 15px; /*Espaçcamento   Interno*/
}

header{
    display: flex;
    flex-direction: row; /* linha ou coluna*/
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color:blueviolet;
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid blueviolet;
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover{
    background-color: blueviolet;
    color: white;
}

h1{
    font-weight: 200;
    font-size: 56px;
}

.tertiary{
    font-size: 36px;
    font-weight: 200;
}

.execao{
    font-weight: 200;
    font-size: 20px;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 45px;
    font-family: poppinsmedium;
    margin: 15px;
}

span{
    color:blueviolet
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
    font-size: 19px;
}

.whey{
    max-width: 100%;
    border-radius: 10px;
    width: 380px;
    height: auto; 
    top: 0;
    position: relative;
}

img{
    max-width: 100%;
    border-radius: 10px;
    width: 580px;
    height: auto; 
}

.socials{
    display: flex;

}

.socials img{
    max-width: 60px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
    
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: blueviolet;
    color:whitesmoke;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    width: 400px;
    
}

.form_image{
    display: flex;
    flex-direction: row !important;
}

.meio{
    display: flex;
    flex-direction: row;
}

.btn{
    background-color: none;
    border: none;
    outline: none;
    padding: 1rem 4rem; /*unidade de medida(rem)*/
    display: inline-block;
    border-radius: 0.5rem;
}

.btn.btn-primary{
    background-color:blueviolet;
    color: white;
    font-weight: 400;
    font-size: 1.4rem;
}

.about{
    
    display: flex;
    padding: 0px;
}

.about h2{
    line-height: 45px;
}

.about_left{
    width: 45%;
    margin-right: 25px;
}

.skills_content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.description{
    text-align: center;
    max-width: 100%;
}

.skills_content{
    display: flex;
}

.skills_item img{
    max-width: 100px;
}

.projects{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.projects p{
    max-width: 100%;
}

.element1{
    display: flex;
    flex-direction: row;
}

.element2{
    display: flex;
    flex-direction: row-reverse;
}

.element3{
    display: flex;
    flex-direction: row;
}

.image-container {
    margin-top: -200px;
}

.espacamento {
    margin-bottom: 60px;
}

.max-width{
    width: 100%;
    max-width: 120rem;
}

.mb-0{
    margin-bottom: 0;
}

.mb-s{
    margin-bottom: 1rem;
}

.mb-m{
    margin-bottom: 4rem;
}

.mb-l{
    margin-bottom: 2rem;
}

footer{
    margin-top: 20%;
}

.footer_content{
    display: flex;
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 60%;
    }

    h1 {
        font-size: 6rem;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 58%;
    }

    .max-width {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 425px) {
    h1 {
        font-size: 4.2rem;
    }
}

